Body{
  background-color: rgb(88, 90, 99);
  background-image: url("./images/BG.png");
  background-size: cover;
margin: 0%;
}

html{
  overflow-y: hidden;
  margin: 0%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#MainGrid{
  display: grid;
  height: 100vh;
  grid-template-rows: [topRow]auto [midRow]86vh [botRow]auto;
  justify-items: stretch;
  /* align-items: center;
  align-content: center; */
}

#TopGrid{
  position: sticky;
  top: 0%;
  background-color: rgb(43, 45, 52);
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
  height: 7vh;
  --TopRow: 7vh
}
#TopLeftCol{
  height: fit-content;
  display: flex;
  align-items: start;
}
#TopMidCol{
  align-items: center;
}
#TopRightCol{
  align-items: end;
}
#MidGrid{
  align-self: center;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}

#MidMidCol{
  max-height: 84vh;
  height: auto;
  align-items: center;
  margin: auto;
  overflow-y: scroll;
}
#MyPhoto{
  width: auto;
  height: 25em;
  position:relative;
  top: 10%;
  align-self: center;
}
#MidMidCol::-webkit-scrollbar {
  width: 0.8em;               /* width of the entire scrollbar */
}

#MidMidCol::-webkit-scrollbar-track {
  background: none;        /* color of the tracking area */
}

#MidMidCol::-webkit-scrollbar-thumb {
  background-color: rgb(43, 45, 52);   /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px;  /* creates padding around scroll thumb */
}
#MidLeftCol{
  text-align: left;
  align-self: center;
}
#MidRightCol{
  /* align-items: center; */
  /* right: 0%; */
  text-align: right;
  margin: auto;
}
#BotGrid{
  bottom: 0%;
background-color: rgb(43, 45, 52);
position: sticky;
align-items: start;
display: grid;
grid-template-columns: auto auto auto;
height: 7vh;
--BotRow: 7vh
}
#BotLeftCol{
  display: flex;
  -ms-flex-align: start;
  align-items: center;
  margin: 0%;
  width: fit-content;
}
#BotMidCol{
  align-items: center;
  width: fit-content;
  margin: 0%;
}
#BotRightCol{
  align-items: end;
  width: fit-content;
  margin: 0%;
}
.Logotypes{
  margin: 0;
  padding: 0.1em;
}
.Logotypes:hover{
  scale: 1.2;
}
#Kontakt{
  text-align: left;
  font-size: 10px;
  color: aliceblue;
  margin: 0%;
  padding: 0.6em;
}
.KontaktText{
  margin: 0%;
}
#HuvudTitel{
  font-size: 1.8em;
  height: 50%;

  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:beige;
  margin: 0%;
}
#IntroductionText{
  text-align: right;
  color:rgba(245, 245, 220, 0.5);
  font-size: 1em;
  max-width: 18em;
}

#Container {
  display: flex;
}

.TopMenyVal {
  color: beige;
  padding: 0.4em;
  font-size: 0.9em;
  margin: 0 8px 0 0;
  background-color: rgb(46, 53, 67);
  cursor: pointer;
  border-radius: 1em;
}

.TopMenyVal:hover{
    /* background-color: rgb(52, 194, 255); */
    background-color: rgb(56, 65, 77);
}

#listRad{
  display: grid;
  width: 50%;
}
.Photo{
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.Titel1{
  font-size: 19px;
  color: rgb(187, 199, 210)
}
p{
  font-size: 14px;
}

.plats{
  font-size: 18px;
  color: rgb(187, 199, 210)
}
.titel{
  font-size: 17px;
}
.årtal{
  font-size: 17px;
}
.beskrivning{
  font-size: 16px;
  width: max-content;
  max-width: 40em;
}
